repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-json
  - id: check-toml
  - id: check-yaml
  - id: check-merge-conflict
  - id: check-symlinks
  - id: detect-private-key
  - id: check-added-large-files
  - id: detect-aws-credentials
    args: [--allow-missing-credentials]
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.24.2
  hooks:
    - id: gitleaks
- repo: https://github.com/trufflesecurity/truffleHog
  rev: v3.88.26
  hooks:
    - id: trufflehog
      name: TruffleHog
      description: Detect secrets in your data with TruffleHog.
      entry: trufflehog git file://. --since-commit HEAD --results=verified --fail
      language: golang
      pass_filenames: false
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
