name: Security Audit

#on:
#  push:
#    branches:
#      - '**'  # This will trigger on all branches
#    tags:
#      - '**'  # This will trigger on all tags
#  pull_request:
#  schedule:
#    - cron: '0 0 * * *'

on:
  workflow_call:

jobs:
  cargo_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
      - name: Add Private Repo
        run: |
          git config --global credential.helper store
          echo "https://${{ github.actor }}:${{ secrets.GH_ACTION_PAT }}@github.com" > ~/.git-credentials
          chmod 600 ~/.git-credentials
      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GH_ACTION_PAT }}
      - name: Remove Private Repo
        run: rm -f ~/.git-credentials
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
  cargo_deny_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          log-level: warn
          manifest-path: ./Cargo.toml
          command: check
          arguments: --all-features
          command-arguments: ""
          credentials: https://${{ github.actor }}:${{ secrets.GH_ACTION_PAT }}@github.com
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
