name: Security Audit

on:
  pull_request:
  push:
    branches:
      - '**'
    tags:
      - '**'
  schedule:
    - cron: '0 0 * * *'

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          git config --global credential.helper store && \
          echo "https://${{ github.actor }}:${{ secrets.GH_ACTION_PAT }}@github.com" > ~/.git-credentials && \
          chmod 600 ~/.git-credentials

      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GH_ACTION_PAT }}

      - name: Build Docker Image
        run: rm -f ~/.git-credentials

      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
