name: Pipelines

on:
  push:
    branches:
      - 'main'
      - 'staging'
      - 'develop'
    tags:
      - '**'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 1
  CARGO_PROFILE_RELEASE_LTO: true

jobs:
  pre-notify:
    uses: twinexyz/workflows/.github/workflows/notify.yml@main
    secrets: inherit
    with:
      sha: ${{ github.sha  }}
      branch_slug: ${{ github.ref_name }}
      repo_name: ${{ github.event.repository.name }}
      commit_message: ${{ github.event.head_commit.message }}
      commit_url: https://github.com/${{ github.repository }}/commit/${{ github.sha }}
      commit_actor: ${{ github.actor }}
      event_name: ${{ github.event_name }}
      workflow_name: ${{ github.workflow }}
      run_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
      job_status: started
  precommit:
    needs: ["pre-notify"]
    uses: twinexyz/workflows/.github/workflows/precommit.yml@main
    secrets: inherit
  dependency-check:
    needs: ["pre-notify", "precommit"]
    uses: twinexyz/workflows/.github/workflows/dependency-review.yml@main
    secrets: inherit
    with:
      branch_slug: ${{ github.ref_name }}
  semgrep:
    needs: ["pre-notify", "precommit"]
    uses: twinexyz/workflows/.github/workflows/semgrep.yml@main
    secrets: inherit
  test:
    needs: ["pre-notify", "precommit"]
    uses: twinexyz/workflows/.github/workflows/test.yml@main
    secrets: inherit
  audit:
    needs: ["pre-notify", "precommit"]
    uses: twinexyz/workflows/.github/workflows/audit.yml@main
    secrets: inherit
  file-scan:
    needs: ["pre-notify", "precommit"]
    uses: twinexyz/workflows/.github/workflows/file-scan.yml@main
    secrets: inherit
  build:
    needs: ["pre-notify", "precommit"]
    uses: twinexyz/workflows/.github/workflows/build.yml@main
    secrets: inherit
    with:
      sha: ${{ github.sha  }}
      branch_slug: ${{ github.ref_name }}
      repo_name: ${{ github.event.repository.name }}
  container-scan:
    needs: ["pre-notify", "precommit", "build"]
    uses: twinexyz/workflows/.github/workflows/container-scan.yml@main
    secrets: inherit
    with:
      sha: ${{ github.sha  }}
      branch_slug: ${{ github.ref_name }}
      repo_name: ${{ github.event.repository.name }}
  deploy:
    needs: ["pre-notify", "precommit", "build"]
    uses: twinexyz/workflows/.github/workflows/deploy.yml@main
    secrets: inherit
    with:
      sha: ${{ github.sha  }}
      branch_slug: ${{ github.ref_name }}
      repo_name: ${{ github.event.repository.name }}
      app_name: "api,indexer"
  post-notify:
    if: always()
    needs: ["pre-notify", "precommit", "build", "deploy"]
    uses: twinexyz/workflows/.github/workflows/notify.yml@main
    secrets: inherit
    with:
      sha: ${{ github.sha  }}
      branch_slug: ${{ github.ref_name }}
      repo_name: ${{ github.event.repository.name }}
      commit_message: ${{ github.event.head_commit.message }}
      commit_url: https://github.com/${{ github.repository }}/commit/${{ github.sha }}
      commit_actor: ${{ github.actor }}
      event_name: ${{ github.event_name }}
      workflow_name: ${{ github.workflow }}
      run_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
      job_status: ${{ needs.build.result }}
      precommit_duration: ${{ needs.precommit.outputs.duration }}
      build_duration: ${{ needs.build.outputs.duration }}
      anchore_scan_duration: ${{ needs.container-scan.outputs.anchore_scan_duration }}
      anchore_sbom_scan_duration: ${{ needs.container-scan.outputs.anchore_sbom_scan_duration }}
      trivy_scan_duration: ${{ needs.container-scan.outputs.trivy_scan_duration }}
      docker_scout_scan_duration: ${{ needs.container-scan.outputs.docker_scout_scan_duration }}
      deploy_duration: ${{ needs.deploy.outputs.duration }}
