name: Pipelines

on:
  push:
    branches:
      - '**'  # This will trigger on all tags
    tags:
      - '**'  # This will trigger on all tags
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always

jobs:
  precommit:
    uses: twinexyz/workflows/.github/workflows/precommit.yml@main
    secrets: inherit
  build:
    needs: ["precommit"]
    uses: twinexyz/workflows/.github/workflows/build.yml@main
    secrets: inherit
    with:
      sha: ${{ github.sha  }}
      branch_slug: ${{ github.ref_name }}
      repo_name: ${{ github.event.repository.name }}
  container-scan:
    needs: ["build"]
    uses: twinexyz/workflows/.github/workflows/container-scan.yml@main
    secrets: inherit
    with:
      sha: ${{ github.sha  }}
      branch_slug: ${{ github.ref_name }}
      repo_name: ${{ github.event.repository.name }}
  deploy:
    needs: ["build", "container-scan"]
    uses: twinexyz/workflows/.github/workflows/deploy.yml@main
    secrets: inherit
    with:
      sha: ${{ github.sha  }}
      branch_slug: ${{ github.ref_name }}
      repo_name: ${{ github.event.repository.name }}
      app_name: "api,indexer"
