name: Secrets and code scan

on:
  workflow_call:

env:
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always

jobs:
  trivy_scan:
    name: trivy scan
    runs-on: ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@0.29.0
        with:
          scan-type: 'fs'
          cache: 'false'
          scan-ref: '.'
          #output: 'dependency-results.sbom.json'
          output: 'trivy.txt'
          #image-ref: '.'
          github-pat: ${{ secrets.GH_ACTION_PAT }}
          scanners: vuln,secret,misconfig,license
      - name: Publish Trivy Output to Summary
        run: |
          if [[ -s trivy.txt ]]; then
            {
              echo "### Trivy File System Scan Security Output"
              echo "<details><summary>Click to expand</summary>"
              echo ""
              echo '```terraform'
              cat trivy.txt
              echo '```'
              echo "</details>"
            } >> $GITHUB_STEP_SUMMARY
          fi
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
  secret_scan:
    name: secret scan
    runs-on: ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --results=verified,unknown
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
  anchore_scan:
    name: anchore scan
    runs-on: ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - name: Scan current project
        uses: anchore/scan-action@v6
        with:
          path: "."
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
  shiftleft_scan:
    runs-on: ubuntu-latest
    name: ShiftLeftSecurity Scan
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
      - name: Perform Scan
        uses: ShiftLeftSecurity/scan-action@master
        with:
          type: "credscan,rust,depscan,dockerfile,dep-scan"
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
