name: SonarQube Scan

#on:
#  push:
#    branches:
#      - '**'  # This will trigger on all branches
#    tags:
#      - '**'  # This will trigger on all tags
#  pull_request:
#  schedule:
#    - cron: '0 0 * * *'

on:
  workflow_call:

jobs:
  sonarqube:
    name: SonarQube
    runs-on: self-hosted #ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."

