name: Test

#on:
#  push:
#    branches:
#      - '**'  # This will trigger on all branches
#    tags:
#      - '**'  # This will trigger on all tags
#  pull_request:
#  schedule:
#    - cron: '0 0 * * *'

on:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: |
          git config --global credential.helper store
          echo "https://${{github.actor}}:${{ secrets.GH_ACTION_PAT }}@github.com" > ~/.git-credentials
          chmod 600 ~/.git-credentials
          cargo test --all-features
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."

  # Check formatting with rustfmt
  formatting:
    name: cargo fmt
    runs-on: ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
      # Ensure rustfmt is installed and setup problem matcher
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
